extends ../templates/main

block vars
	- const title = 'Example'
	- const description = '…'
	- const keywords = ''

block content

	section.section.hero

		.container

			h1.hero__header #{title}
			p …
