extends ../templates/common

block vars
	- const title = 'Политика обработки персональных данных'

block content

	article.container.article
		h1 #{title}
		p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem earum impedit quam modi qui.
		p Expedita mollitia animi placeat accusantium minus rerum nesciunt, sit ipsum. Molestias, aspernatur.