extends ../templates/welcome

block vars
	- const title = 'Восстановление'

block content

	.container.login

		a.login__logo(href="/")
			img(src=imgPath + "logo.png")

		h1.login__header #{title}

		.note.login__text
			p  Введите адрес электронной почты, указанной при регистрации, и пароль

		.login__actions
			.input
				input(type="text" placeholder="Email / Логин")

		.note.login__footer
			a(href="/register.html") У  меня нет аккаунта
			a(href="/login.html") Авторизация